@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.Typewriter__wrapper {
  font-size: 70px;
  line-height: 78px;
  font-weight: 400;
}

.Typewriter__cursor {
  font-size: 70px;
  line-height: 78px;
  font-weight: 400;
}

span {
  color: white;
}

p {
  color: white;
}

div {
  color: white;
}
