@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.typewritter-caps {
  font-size: 500;
  font-weight: 700;
}

.typewritter-nice {
  font-size: 500;
  font-weight: 400;
  /* Apply a custom font */
}

.Typewriter__wrapper {
  font-size: 70px;
  line-height: 78px;
  font-weight: 400;
}

.Typewriter__cursor {
  font-size: 70px;
  line-height: 78px;
  font-weight: 400;
}
